@import "tailwindcss";

html,body{
  overflow-x: hidden;
}
.homepage_bg {
  background: url("../src/assets/Images/bghome.svg");
}
/* Slim scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #2b3d5b; /* yellow */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #a1a1a1; /* dark bg */
}